body {
    background-image: url(../img/sea.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

h1 {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    align-self: center;
    margin: 0 auto;
    margin-top: 4em;
    padding: 0.3em;
    border-radius: 3em;
}

.card {
    background-color: rgba(4, 84, 138);
    align-items: center;
    margin-top: 4em;
    margin-left: 30em;
    margin-right: 30em;
    padding: 3em;
}

#toFill {
    color: black;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 1em;
}

button {
    width: fit-content;
    align-self: center;
}